@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body{
	width: 100%;
	height: 100vh;
}

a{ text-decoration: none; }

.wrapper{
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;
	/* margin: 0 auto; */
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f6f6f6;
}

nav{
	width: 100%;
	padding: 1em;
	background-color: #e3e3e3;
	display: flex;
	justify-content: flex-end;
	
}

.nav-list{
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.nav-list li a{
	margin-left: 2em;
}
